* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  /* font-family: "Manrope", sans-serif; */
  /* font-family: "Fraunces", serif; */
}

body {
  height: 100vh;
}

.hero {
  background-color: #24053e;
  height: 33%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-self: center;
  width: 80%;
  justify-content: space-between;
  padding-top: 56px;
}

.cta-apply {
  text-decoration: underline;
  text-decoration-color: #44ffa1;
  text-underline-offset: 8px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  text-align: center;
}

.main-title {
  color: #ffffff;
  font-weight: 600;
  font-family: "Fraunces", serif;
  font-size: 80px;
  /* width: 635px;
  margin-left: auto;
  margin-right: auto; */
}

.main-title span {
  text-decoration: underline;
  text-decoration-color: #44ffa1;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}

.cta-learn-more {
  padding: 12px 32px 12px 32px;
  text-decoration: none;
  color: #000000;
  background-color: #44ffa1;
  margin-left: auto;
  margin-right: auto;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.first-ornamental {
  width: 100%;
  margin-top: auto;
}

.informations {
  background-color: #fcf8ff;
  height: 33%;
  display: flex;
  flex-direction: column;
  padding-top: 88px;
}

.informations-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  width: 80%;
  align-self: center;
}

.informations-list li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list-number {
  border: 1px solid black;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-family: "Fraunces", serif;
  font-size: 24px;
}

.list-title {
  margin-top: 56px;
  font-weight: 600;
  font-family: "Fraunces", serif;
  font-size: 32px;
}

.list-description {
  margin-top: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.second-ornamental {
  width: 100%;
  margin-top: auto;
}
