* {
  box-sizing: border-box;
}

body {
    height: 100vh;
}

.hero {
    background-color: #24053E;
    height: 33%;
    display: flex;
    flex-direction: column;
}

.first-ornamental {
    width: 100%;
    margin-top: auto;
}

.informations {
    background-color: #FCF8FF;
    height: 33%;
    display: flex;
    flex-direction: column;
}

.second-ornamental {
    width: 100%;
    margin-top: auto;
}